@import "tailwindcss";

/* Kustomisasi Tema */
@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
  --color-brand: #3b82f6;
  --color-brand-dark: #1e3a8a;

  /* custom color */
  --color-primary: #0ea5e9;
  --color-secondary: #64748b;
}

/* Base style tambahan jika diperlukan */
@layer base {
  body {
    @apply antialiased text-slate-900 bg-white dark:bg-slate-950 dark:text-white;
  }
}