@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background-light: hsl(0 0% 98%);
    --text-primary-light: hsl(304 54.4% 14%);
    --color-background-dark: hsl(304 54.4% 7.5%);
    --text-primary-dark: hsl(0 0% 98%);
  }

/* globals.css */
:root {
  --background: var(--color-background-light);
  --foreground: var(--text-primary-light);
}

.dark {
  --background: var(--color-background-dark);
  --foreground: var(--text-primary-dark);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for scrollable sections */
.overflow-y-auto::-webkit-scrollbar {
  width: 0;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Firefox */
.overflow-y-auto {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
